{% extends 'common/master.html' %}

{% block title %}
{% if user.is_authenticated %}
    Hello
{% else %}
    Login
{% endif %}
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <p>Email: {{ user.email }}.</p>
    <a href="{% url 'chat' %}">Chat</a>
    <br>
    <a href="{% url 'minesweeper' %}">Minesweeper (Single Player)</a>
    <br>
    <a href="{% url 'rps' %}">Rock, Paper, Scissors</a>
    <br>
    <a href="{% url 'logout' %}">Logout</a>
    <br>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <br>
    <a href="{% url 'signup' %}">Sign Up</a>
    <br>
    <a href="{% url 'password_reset' %}">Forgot Password?</a>
    <br>
{% endif %}
{% endblock %}
