{% extends 'common/master.html' %}
{% block body %}
<p>Welcome, {{ user.username }}!</p>
<p>Email: {{ user.email }}.</p>
<ul>
    <li>
        <a href="{% url 'chat' %}">Chat</a>
    </li>
    <li>
        <a href="{% url 'minesweeper' %}">Minesweeper (Single Player)</a>
    </li>
    <li>
        <a href="{% url 'rps' %}">Rock, Paper, Scissors</a>
    </li>
    <li>
        <a href="{% url 'chess' %}">Chess</a>
    </li>
    <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>
</ul>
{% endblock %}