body {
    background-color: #eee;
    line-height: 1.4em;
}

#wrapper {
    width: 70%;
    margin: auto;
}

a {
    color: #27a;
}

a:visited {
    color: #941452;
}

/* for joining games */
.gameinfo {
    border: 1px solid black;
}
.gameinfo:hover {
    background-color: white;
}

/* for game logs */
#logbox {
    font-family: monospace;
}