body {
    background-color: #eee;
    line-height: 1.4em;
}

#wrapper {
    width: 70%;
    margin: auto;
}

a {
    color: #27a;
}

a:visited {
    color: #941452;
}

/* for joining games */
.gameinfo {
    border: 1px solid black;
}
.gameinfo:hover {
    background-color: white;
}

/* for game logs */
#logbox {
    font-family: monospace;
    background-color: white;
    overflow-y: scroll;
    max-height: 10em;
}

/* for minesweeper board */
#minesweeper-board .row {
    width: 75%;
    display: flex;
    margin: auto;
    padding: 0px;
    justify-content: center;
}
#minesweeper-board .cell {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    width: 24px;
    height: 24px;
}
#minesweeper-board .cell:hover,
#minesweeper-board .cell:focus {
    background-color: lightgrey;
    border: none;
}