body {
    background-color: #eee;
    line-height: 1.4em;
}

#wrapper {
    width: 70%;
    margin: auto;
}

a {
    color: #27a;
}

a:visited {
    color: #941452;
}

/* for joining games */
.gameinfo {
    border: 1px solid black;
}
.gameinfo:hover {
    background-color: white;
}

/* for game logs */
#logbox {
    font-family: monospace;
    background-color: white;
    overflow-y: scroll;
    max-height: 10em;
}

/* for minesweeper board */
#minesweeper-board .row {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 0px;
    justify-content: center;
}
#minesweeper-board .cell {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 2em;
    height: 2em;
    background-color: #ececec;
    border: 1px solid black;
    font-weight: bold;
    font-family: monospace;
    font-size: 1em;
}
#minesweeper-board .cell.showing {
    background-color: lightgrey
}
#minesweeper-board .cell[bombs="0"] {
    color: rgba(0, 0, 0, 0);
}
#minesweeper-board .cell[bombs="1"] {
    color: blue;
}
#minesweeper-board .cell[bombs="2"] {
    color: green;
}
#minesweeper-board .cell[bombs="3"] {
    color: red;
}
#minesweeper-board .cell[bombs="4"] {
    color: darkblue;
}
#minesweeper-board .cell[bombs="5"] {
    color: maroon;
}
#minesweeper-board .cell[bombs="6"] {
    color: darkcyan;
}
#minesweeper-board .cell[bombs="7"] {
    color: darkgoldenrod;
}
#minesweeper-board .cell[bombs="8"] {
    color: black;
}
#minesweeper-board .cell:hover,
#minesweeper-board .cell:focus {
    background-color: grey;
}